body {
  padding-top: 30px;
  background: #f0f2f5;
}

.item {
  display: inline-block;

  height: 250px;
  width: 250px;
  margin: 0 0 20px 30px;
  padding: 3px 10px 3px 10px;

  color: #ec325b;
  background-color: #fff;
  border-radius: 3px;

  .title {
    font-size: 20px;
    border-bottom: 2px solid #f0f2f5;
  }

  .description {

  }

  .price {
    border-top: 2px solid #f0f2f5;
    text-align: right;
  }

  transition: box-shadow 1s;

  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
  }
}
